@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500&display=swap');

.browse {
  text-align: center;
  font-size: 3rem;
  color: #fcefdb;
  font-weight: 900;
  width: 100%;
  margin: 0px 0px 0px 0px;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 2%;
  letter-spacing: 4px;
  min-width: 375px;
}

.box {
  position: relative;
  width: 20vw;
  max-width: 170px;
  min-width: 100px;
  height: 20vw;
  margin-left: 3%;
}

.displayContainer {
  width: auto;
  background-repeat: no-repeat;
  background: url(../bg-images//shadow.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 30px;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: rgba(255, 255, 255, 0.5); */
}
.itemDisplayContainer {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  margin-right: 5px auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.buttonContainer {
  margin-right: 15%;
  position: fixed;
  right: 0;
  bottom: 30px;
}

@media only screen and (max-width: 400px) {
  .buttonContainer {
    margin-right: 5px;
    position: fixed;
    bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .itemDisplayContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
