/* beige: '#fcefdb', //for popup additem background
pink: '#e6998d', //for the buttons
almostblack: '#37332f', //for the p tag texts
olivegreen: '#767e65', //for the location text
mintgreen: '#a4ccae', //for homepage buttons
dustygreen: '#64847c', //for logo and header in popup additem */


.responsive-container {
	max-width: 1080px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    
    
}
.display-container{
    max-width: 1080px;
	width: 100%;
    margin-left: auto;
	margin-right: auto;
    background-repeat: no-repeat;
    background: url(../bg-images//shadow.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.browse{
    text-align: left;
    font-size: 2rem;
    color: black;
    width: 100%;
    margin: 20px 0px 0px 30px;
}
.container{
    max-width: 100%;
    width: 70% ;
    display:grid ;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
}
.box{
    position: relative;
    width: 100%;
    display:flex;
    flex-direction: column; 
    align-items: center;
    max-height: max-content;
  
}

.box img {
    
    max-width: ;
    max-height: 300px;
}
.product-content {
	padding: 1rem;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color:rgba(255, 255, 255, 0.5); 
    flex-direction: column;
}
.title{
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: #37332f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.location{
    margin-top: 10px;
    font-size: 1rem;
    text-align:center;
    color:#767e65;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.plus-button{
    background-color: #e6998d;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}




