/* 
cream: '#fcefdb', //for popup additem background
dustypink: '#e6998d', //for the buttons
almostblack: '#37332f', //for the p tag texts
olivegreen: '#767e65', //for the location text
mintgreen: '#a4ccae', //for homepage buttons

dustygreen: '#64847c', //for logo and header in popup additem */

/*
fonts
heading: 'Abril Fatface, sans-serif',
body: 'Montserrat, sans-serif',
*/




.logo {
  max-width: 100px;
}

