@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500&display=swap');

/* Background image of each image */
.background {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px #888888;
}

.box {
  position: relative;
  width: 16.75em;
  height: 16.75em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.box img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
  color: #37332f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.github,
.linkedin {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
  color: #37332f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.github:hover,
.linkedin:hover {
  text-decoration: underline;
  color: #64847c;
}
