  .box {
    position: relative;
    width: 300px;     
    height: 300px;
    overflow: hidden;
  
  }
  
  .box img{
     position: absolute;
       max-width: 100%;
       width: 100%;
       height: auto;
       top: 50%;     
       left: 50%;
       transform: translate( -50%, -50%);
  }

  .productContent {
    padding: 1rem;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 300px;     
    height:auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
.title {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: #37332f;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: medium;
  }
  
  .location {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: #767e65;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: medium;
  }
  