@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500&display=swap');
/* background and whole page */
.contactContainer {
  width: auto;
  margin: auto;
  background-repeat: no-repeat;
  background: url(../bg-images//flowers.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100vh;
  /* background-attachment: fixed; */
  /* margin-bottom: 0em; */
}

@media screen and (max-height: 1700px) {
  .contactContainer {
    padding-bottom: 50em;
  }
}
/* Back to Browser Link */
.backButton {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 1.3em;
  margin-left: 20vw;
  padding-top: 3vw;
}
/* On Hover Back to Browser becomes green */
.backButton:hover {
  color: #64847c;
}
/* Main Container, white Box containing the whole Contact Details */
.background {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid;
  padding: 1.7em 1.7em 1em 1.7em;
  box-shadow: 5px 5px #888888;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: center;
}
/* Div within the whole of the white box (.background) */
.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 35px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}
/* container for H2 Contact Information */
.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Contaier that contains all the divs of Product name, location, Phone,
 email, currently showing them in individuals columns */
.boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-wrap: wrap;
}

/* if the size of the screen is smaller than 810px, the .boxContainer 
    will make Product Name, Location, Phone, Email flex into 1 column  */
@media (max-width: 810px) {
  .boxContainer {
    flex-direction: column;
  }
}

/* Title, location, phone, email containers, shows each section in column */
.title,
.location,
.phone,
.email,
.description,
.image {
  font-size: 0.5rem;
  text-align: center;
  color: #37332f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: medium;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 1rem;
}

.image img {
  width: 18vw;
  min-width: 300px;
  max-width: 300px;
  max-height: 55vh;
  /* min-height: 55vh; */
  padding: none;
  margin: 10px 0 10px 0;
}

p {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 14px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* font-size re-size from a Min to a Max as the screen becomes smaller */
@media screen and (min-width: 320px) {
  p {
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  h3 {
    font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
  }
}
