.auth0Plus {
  color: black;
  font-size: 40px;
  background-color: #e6998d;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.auth0Plus:hover {
  background-color: #f5f4f4;
}

.buttonContainer {
  margin-right: 15%;
  position: fixed;
  right: 0;
  bottom: 10px;
}
